@using SimhoppNET5.Data
@using Syncfusion.Blazor.DropDowns
@using Newtonsoft.Json
@page "/ParticipantAdd"
@inject IParticipantsService ParticipantsService
@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
    <div class="main-block">
        <EditForm Model="@participants" OnValidSubmit="@ParticipantsInsert">
            <div class="title">
                <i class="fas fa-pencil-alt"></i>
                <h2>Register here</h2>
            </div>
            <div class="info">
                <input class="fname" type="text" @bind="participants.FirstName" name="name" placeholder="First name" required>
                <input class="fname" type="text" @bind="participants.LastName" name="name" placeholder="Last name" required>
                <input class="fname" type="text" @bind="participants.Age" name="name" placeholder="Age" required>
                <input class="fname" type="text" @bind="participants.club" name="name" placeholder="Club" required>
                <input class="fname" type="text" @bind="participants.EmailAddress" name="name" placeholder="E-mail" required>

                <select @bind="participants.Dive_Group" required>
                    <option value="Forward Dive" selected>1- Forward Dive</option>
                    <option value="Backward Dive">2- Backward Dive</option>
                    <option value="Reverse Dive">3- Reverse Dive</option>
                    <option value="Inward Dive">4- Inward Dive</option>
                    <option value="Twisting Dive">5- Twisting Dive</option>
                    <option value="Armstand Dive">6- Armstand Dive</option>
                </select>
                <select @bind="participants.Dive_position" required>
                    <option value="Straight Position" selected>A- Straight Position</option>
                    <option value="Pike Position">B- Pike Position</option>
                    <option value="Tuck Position">C- Tuck Position</option>
                    <option value="Free Position">D- Free Position</option>
                </select>
                <select @bind="participants.half_somersaults" required>
                    <option value="0" selected>0 half somersaults</option>
                    <option value="1">1 half somersaults</option>
                    <option value="2">2 half somersaults</option>
                    <option value="3">3 half somersaults</option>
                    <option value="4">4 half somersaults</option>
                    <option value="5">5 half somersaults</option>
                    <option value="6">6 half somersaults</option>
                    <option value="7">7 half somersaults</option>
                    <option value="8">8 half somersaults</option>
                    <option value="9">9 half somersaults</option>
                </select>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="checkbox"><span>I agree to the <a href="https://olympics.com/en/privacy-policy">Privacy Poalicy for Olympics.</a></span>
            </div>
            <button type="submit">Submit</button>
        </EditForm>
        <div class="left-part">
            <i class="fas fa-graduation-cap"></i>
            <h1>Diving News</h1>
            <p>Click on the button latest diving sport news </p>
            <div class="btn-group">
                <a class="btn-item" href="https://olympics.com/en/sports/diving/">Olympics</a>
                <a class="btn-item" href="https://www.svensksimidrott.se/varasimidrotter/Simhopp/Nyheter">Simhopp</a>
            </div>
        </div>
    </div>
</body>
</html>


@*
    <h1>Apply here</h1>

    <EditForm Model="@participants" OnValidSubmit="@ParticipantsInsert">
        <table class="editform">
            <tr>
                <td>First Name:</td>
                <td>Last Name:</td>
            </tr>
            <tr>

                <td><input type="text" @bind="participants.FirstName" required /></td>
                <td><input type="text" @bind="participants.LastName" required /></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>Club:</td>

            </tr>
            <tr>
                <td><input type="text" @bind="participants.Age" required /></td>
                <td><input type="text" @bind="participants.club" required /></td>
            </tr>
            <tr>
                <td>Email:<input type="Email" @bind="participants.EmailAddress" required /></td>
            </tr>

            <tr>
                <td>Diving Group:</td>
                <td>
                    <SfDropDownList TItem="DiveGroup" TValue="string" PopupHeight="230px" Placeholder="Select a diving group" @bind-Value="@DropVal_DG" DataSource="@LocalData_DG">
                        <DropDownListEvents TItem="DiveGroup" TValue="string" ValueChange="OnChange_DG"></DropDownListEvents>
                        <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
                    </SfDropDownList>
                </td>
            </tr>

            <tr>
                <td>Diving position:</td>
                <td>
                    <SfDropDownList TItem="DivePosition" TValue="string" PopupHeight="230px" Placeholder="Select a diving position" @bind-Value="@DropVal_DP" DataSource="@LocalData_DP">
                        <DropDownListEvents TItem="DivePosition" TValue="string" ValueChange="OnChange_DP"></DropDownListEvents>
                        <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
                    </SfDropDownList>
                </td>
            </tr>

            <tr>
                <td>Number Half Somersaults:</td>
                <td>
                    <SfDropDownList TItem="Somersaults" TValue="string" PopupHeight="230px" Placeholder="Select the number of somersaults" @bind-Value="@DropVal_S" DataSource="@LocalData_S">
                        <DropDownListEvents TItem="Somersaults" TValue="string" ValueChange="OnChange_S"></DropDownListEvents>
                        <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
                    </SfDropDownList>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="Add " />
                    <input type="button" value="Cancel" @onclick="@Cancel" />
                </td>
            </tr>
        </table>


    </EditForm>
*@

@code {

    Participants participants = new Participants();


    /*public class DiveGroup
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    List<DiveGroup> LocalData_DG = new List<DiveGroup> {
    new DiveGroup() { ID= "Forward Dive", Text= "1- Forward Dive" },
    new DiveGroup() { ID= "Backward Dive", Text= "2- Backward Dive" },
    new DiveGroup() { ID= "Reverse Dive", Text= "3- Reverse Dive" },
    new DiveGroup() { ID= "Inward Dive", Text= "4- Inward Dive" },
    new DiveGroup() { ID= "Twisting Dive", Text= "5- Twisting Dive" },
    new DiveGroup() { ID= "Armstand Dive", Text= "6- Armstand Dive" },

      };

    public string DropVal_DG = "Forward Dive";
    public string ChangeValue_DG { get; set; } = "Forward Dive";
    public void OnChange_DG(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DiveGroup> args)
    {
        this.ChangeValue_DG = args.ItemData.ID;

    }

    public class DivePosition
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    List<DivePosition> LocalData_DP = new List<DivePosition> {
    new DivePosition() { ID= "Straight Position", Text= "A- Straight Position" },
    new DivePosition() { ID= "Pike Position", Text= "B- Pike Position" },
    new DivePosition() { ID= "Tuck Position", Text= "C- Tuck Position" },
    new DivePosition() { ID= "Free Position", Text= "D- Free Position" },

      };

    public string DropVal_DP = "Straight Position";
    public string ChangeValue_DP { get; set; } = "Straight Position";
    public void OnChange_DP(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DivePosition> args)
    {
        this.ChangeValue_DP = args.ItemData.ID;

    }

    public class Somersaults
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    List<Somersaults> LocalData_S = new List<Somersaults> {
    new Somersaults() { ID= "0", Text= "0 half somersaults" },
    new Somersaults() { ID= "1", Text= "1 half somersaults" },
    new Somersaults() { ID= "2", Text= "2 half somersaults" },
    new Somersaults() { ID= "3", Text= "3 half somersaults" },
    new Somersaults() { ID= "4", Text= "4 half somersaults" },
    new Somersaults() { ID= "5", Text= "5 half somersaults" },
    new Somersaults() { ID= "6", Text= "6 half somersaults" },
    new Somersaults() { ID= "7", Text= "7 half somersaults" },
    new Somersaults() { ID= "8", Text= "8 half somersaults" },
    new Somersaults() { ID= "9", Text= "9 half somersaults" },

      };

    public string DropVal_S = "0";
    public string ChangeValue_S { get; set; } = "0";
    public void OnChange_S(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, Somersaults> args)
    {
        this.ChangeValue_S = args.ItemData.ID;

    }*/

    protected async Task ParticipantsInsert()
    {

        @*participants.Dive_Group = ChangeValue_DG;
        participants.Dive_position = ChangeValue_DP;
        participants.half_somersaults = ChangeValue_S*@
        participants.Init_position = "0";
        await ParticipantsService.ParticipantsInsert(participants);
        NavigationManager.NavigateTo("/");

    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}