@using SimhoppNET5.Data
@page "/ParticipantsScore"
@*@inject IParticipantsService ParticipantsService*@
@inject IScoreServices ScoreService
@inject IParticipantsService ParticipantService
@attribute [Authorize(Roles = "Admin, Judge1, Judge2, Judge3")]

@if (scores == null)
{
    <img src="/css/VAyR.gif" />

}

else
{
 <!DOCTYPE html>
 <html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    </head>
    <body>
        <section>
            <h1>Scoring List</h1>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                        <tr>
                            <th>Add Score </th>
                            <th>ID </th>
                            <th>First Name </th>
                            <th>Last Name </th>
                            <th>Judge 1</th>
                            <th>Judge 2</th>
                            <th>Judge 3</th>
                            <th>Difficulty </th>
                            <th>Total </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        @foreach (var score in scores)
                        {
                            @foreach (var participant in participants)
                            {
                                if (score.Score_ID == participant.ID)
                                {
                                    <tr>
                                        <td>
                                            <a href="ParticipantsScoreAdd/@score.Score_ID">
                                                <SfButton Content="Add Score" CssClass="e-primary"></SfButton>
                                            </a>
                                        </td>
                                        <td>@score.Score_ID</td>
                                        <td>@participant.FirstName</td>
                                        <td>@participant.LastName</td>
                                        <td>@score.Judge1_result </td>
                                        <td>@score.Judge2_result </td>
                                        <td>@score.Judge3_result </td>
                                        <td>@score.Difficulty </td>
                                        <td>@score.Total_results </td>



                                    </tr>

                                }

                            }

                        }
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
}


@code {
    //IEnumerable<Participants> participants;
    IEnumerable<Scores> scores;
    IEnumerable<Participants> participants;

    protected override async Task OnInitializedAsync()
    {
        scores = await ScoreService.ScoreList();
        participants = await ParticipantService.ParticipantsList();
    }

}
